.tag {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border-radius: 16px;
    background: rgba(220, 119, 61, 0.4);
    padding: 4px 10px;
    align-content: center;
    margin-right: 10px;
    cursor: pointer;
}