.block {
    /* height: 96px; */
    background: #0E0303;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.left {
    display: flex;
    flex-direction: column;
    padding: 24px 0 10px 100px;
}

.left__title {
    color: #FFD5BC;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.4;
    padding-bottom: 3px;
}

.left__text {
    color: #FFD5BC;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.4;
}

.menu {
    display: flex;
    list-style-type: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding:0;
}

.center__text {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding: 0 20px;
}

.right {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding-right: 100px;
}

.icon {
    width: 30px;
    height: 30px;
    padding-left: 10px;
}


@media (max-width: 1440px) {
    
    .left {
        padding-left: 80px;
    }
    
    .menu {
        display: flex;
        list-style-type: none;
        text-align: center;
        align-items: center;
    }
    
    .right {
        padding-right: 80px;
    }
}
@media (max-width: 1150px) {
    .left__title {
        font-size: 14px;
        padding-bottom: 1px;
    }
    
    .left__text {
        font-size: 10px;
    }
    .center__text {
        font-size: 12px;
        padding: 0 10px;
    }
}

@media (max-width: 1024px) {
    .block {
        /* height: 76px; */
    }
    
    .left {
        padding: 16px 0 16px 40px;
    }
    
    .left__title {
        font-size: 12px;
        padding-bottom: 1px;
    }
    
    .left__text {
        font-size: 10px;
    }

    .center__text {
        font-size: 12px;
        padding: 0 10px;
    }
    
    .right {
        padding-right: 40px;
    }
    
    .icon {
        padding-left: 8px;
    }
}

@media (max-width:768px) {
    .block {
        /* height: 60px; */
    }
    
    .left {
        padding: 14px 0 12px 32px;
    }
    
    .left__text {
        font-size: 7px;
    }
    
    .center__text {
        font-size: 12px;
        padding: 0 10px;
    }
    
    .right {
        padding-right: 32px;
    }
    
    .icon {
        width: 24px;
        height: 24px;
        padding-left: 8px;
    }
}

@media (max-width:720px) {
    .block {
        display: flex;
        flex-direction: column;
        /* height: 155px; */
    }
    
    .left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 16px;
    }
    
    .left__title {
        font-size: 14px;
    }
    
    .left__text {
        width: 140px;
        font-size: 7px;
    }
    
    .menu {
        flex-wrap: wrap;
        justify-content:center;
        padding: 0 10px;
    }
    
    .center__text {
        font-size: 12px;
        padding: 4px 10px;
    }
    
    .right {
        justify-content:center;
    }
    
    .icon {
        width: 24px;
        height: 24;
        padding-left: 16px;
        padding-bottom: 15px;
    }
}