
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@300&family=Raleway:wght@100&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
