.block {
    overflow: hidden;
    margin: 0;
    background-color: #210A0B;
    height: 960px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* padding-bottom: 60px; */
    /* background-image: url('./bg.png'); */
    background-repeat: no-repeat;
    background-size: cover;
}



@media (max-width: 1440px) {
    .block{
        /* padding-bottom: 50px; */
        height: 720px;
    }
}

@media (max-width: 1024px) {
    .block{
        /* padding-bottom: 40px; */
        height: 512px;
    }
}

@media (max-width:768px) {
    .block{
        /* padding-bottom: 30px; */
        height: 385px;
    }
}

@media (max-width:320px) {
    .block{
        height: 300px;
    }

}