.block {
    margin: 0;
    background-color: #210A0B;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}



@media (max-width: 1440px) {
    .block{
        padding-bottom: 50px;
    }
}

@media (max-width: 1024px) {
    .block{
        padding-bottom: 40px;
    }
}

@media (max-width:768px) {
    .block{
        padding-bottom: 30px;
    }
}

@media (max-width:320px) {

}