.block {
    margin: 0;
    height: 700px;
    background-color: #0E0303;
}
@media (max-width: 1440px) {
    .block{
        height: 600px;
    }
}

@media (max-width: 1024px) {
    .block{
        height: 400px;
    }
}

@media (max-width:768px) {
    .block{
        height: 300px;
    }
}
@media (max-width:320px) {
    .block{
        height: 260px;
    }
}